<!-- Load Static files for this application -->
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo"><a href ="{% url "dashboard" %}"> MicroMOOC ToDo Application</a></span>
        <!-- Check Autentication so as to customize display of views  -->
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url "dashboard" %}">All My ToDos</a>
                </li>
                <li {% if section == "active" %}class="selected"{% endif %}>
                    <a href="{% url "active_todos" %}">Active ToDos</a>
                </li>
                <li {% if section == "completed" %}class="selected"{% endif %}>
                    <a href="{% url "completed_todos" %}">Completed</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
        <!-- Actions to display for an authenticated user  -->
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                    <a href="{% url "password_change" %}">Change Password</a>
                    <a href="{% url "logout" %}">Logout</a>
            {% else %}
                <a href="{% url "login" %}">Log-in</a>
            {% endif %}
        </span>
    </div>
    <!-- Add Messages to be used in the various user actions -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Main Content where various views can overide with their own content -->
    <div id="content">
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html